:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(135deg, #fff0fc, #f2c8ff);
  min-height: 100vh;
  background-attachment: fixed; /* Esto sirve para que el fondo permanezca fijo mientras se hace scroll */
}

header {
  width: 100%;
  background: linear-gradient(130deg, #f2c8ff, #fff0fc);
  backdrop-filter: blur(20px);
  min-height: 96px;
  padding: 24px 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #333;
}